---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = "%Y年%m月%d日" | site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
		<p>{{ post.content | strip_html | strip_newlines | truncate: 200 }} 
			<a href="{{ post.url | relative_url }}">>>更多</a>
		</p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

</div>

{%- for post in paginator.posts -%}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{%- endfor -%}

{%- if site.debugger -%}
  {% include debugger.html %}
{%- endif -%}

